<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zl.qunawan.dao.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.zl.qunawan.pojo.po.Comment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="trip_id" property="tripId" jdbcType="INTEGER" />
    <result column="orders_id" property="ordersId" jdbcType="INTEGER" />
    <result column="place_id" property="placeId" jdbcType="INTEGER" />
    <result column="hotel" property="hotel" jdbcType="INTEGER" />
    <result column="service" property="service" jdbcType="INTEGER" />
    <result column="traffic" property="traffic" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="usefull" property="usefull" jdbcType="INTEGER" />
    <result column="useless" property="useless" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, trip_id, orders_id, place_id, hotel, service, traffic, content, time, 
    usefull, useless
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zl.qunawan.pojo.po.CommentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zl.qunawan.pojo.po.CommentExample" >
    delete from comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zl.qunawan.pojo.po.Comment" >
    insert into comment (id, user_id, trip_id, 
      orders_id, place_id, hotel, 
      service, traffic, content, 
      time, usefull, useless
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{tripId,jdbcType=INTEGER}, 
      #{ordersId,jdbcType=INTEGER}, #{placeId,jdbcType=INTEGER}, #{hotel,jdbcType=INTEGER}, 
      #{service,jdbcType=INTEGER}, #{traffic,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{time,jdbcType=TIMESTAMP}, #{usefull,jdbcType=INTEGER}, #{useless,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zl.qunawan.pojo.po.Comment" >
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="tripId != null" >
        trip_id,
      </if>
      <if test="ordersId != null" >
        orders_id,
      </if>
      <if test="placeId != null" >
        place_id,
      </if>
      <if test="hotel != null" >
        hotel,
      </if>
      <if test="service != null" >
        service,
      </if>
      <if test="traffic != null" >
        traffic,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="usefull != null" >
        usefull,
      </if>
      <if test="useless != null" >
        useless,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="tripId != null" >
        #{tripId,jdbcType=INTEGER},
      </if>
      <if test="ordersId != null" >
        #{ordersId,jdbcType=INTEGER},
      </if>
      <if test="placeId != null" >
        #{placeId,jdbcType=INTEGER},
      </if>
      <if test="hotel != null" >
        #{hotel,jdbcType=INTEGER},
      </if>
      <if test="service != null" >
        #{service,jdbcType=INTEGER},
      </if>
      <if test="traffic != null" >
        #{traffic,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="usefull != null" >
        #{usefull,jdbcType=INTEGER},
      </if>
      <if test="useless != null" >
        #{useless,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zl.qunawan.pojo.po.CommentExample" resultType="java.lang.Integer" >
    select count(*) from comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update comment
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.tripId != null" >
        trip_id = #{record.tripId,jdbcType=INTEGER},
      </if>
      <if test="record.ordersId != null" >
        orders_id = #{record.ordersId,jdbcType=INTEGER},
      </if>
      <if test="record.placeId != null" >
        place_id = #{record.placeId,jdbcType=INTEGER},
      </if>
      <if test="record.hotel != null" >
        hotel = #{record.hotel,jdbcType=INTEGER},
      </if>
      <if test="record.service != null" >
        service = #{record.service,jdbcType=INTEGER},
      </if>
      <if test="record.traffic != null" >
        traffic = #{record.traffic,jdbcType=INTEGER},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.usefull != null" >
        usefull = #{record.usefull,jdbcType=INTEGER},
      </if>
      <if test="record.useless != null" >
        useless = #{record.useless,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update comment
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      trip_id = #{record.tripId,jdbcType=INTEGER},
      orders_id = #{record.ordersId,jdbcType=INTEGER},
      place_id = #{record.placeId,jdbcType=INTEGER},
      hotel = #{record.hotel,jdbcType=INTEGER},
      service = #{record.service,jdbcType=INTEGER},
      traffic = #{record.traffic,jdbcType=INTEGER},
      content = #{record.content,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=TIMESTAMP},
      usefull = #{record.usefull,jdbcType=INTEGER},
      useless = #{record.useless,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zl.qunawan.pojo.po.Comment" >
    update comment
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="tripId != null" >
        trip_id = #{tripId,jdbcType=INTEGER},
      </if>
      <if test="ordersId != null" >
        orders_id = #{ordersId,jdbcType=INTEGER},
      </if>
      <if test="placeId != null" >
        place_id = #{placeId,jdbcType=INTEGER},
      </if>
      <if test="hotel != null" >
        hotel = #{hotel,jdbcType=INTEGER},
      </if>
      <if test="service != null" >
        service = #{service,jdbcType=INTEGER},
      </if>
      <if test="traffic != null" >
        traffic = #{traffic,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="usefull != null" >
        usefull = #{usefull,jdbcType=INTEGER},
      </if>
      <if test="useless != null" >
        useless = #{useless,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zl.qunawan.pojo.po.Comment" >
    update comment
    set user_id = #{userId,jdbcType=INTEGER},
      trip_id = #{tripId,jdbcType=INTEGER},
      orders_id = #{ordersId,jdbcType=INTEGER},
      place_id = #{placeId,jdbcType=INTEGER},
      hotel = #{hotel,jdbcType=INTEGER},
      service = #{service,jdbcType=INTEGER},
      traffic = #{traffic,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      usefull = #{usefull,jdbcType=INTEGER},
      useless = #{useless,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>